<div class="colum">
  
    <h2>Login:</h2>

    <form class="login-form">
      <div class="row p-2">
        <label class="col-4" for="email-login">Email:</label>
        <input class="col-8" type="text" id="email-login" />
      </div>

      <div class="row p-2">
        <label class="col-4" for="password-login">Password:</label>
        <input class="col-8" type="password" id="password-login" />
      </div>

      <div class="button is-secondary">
        <button class="login-form" type="submit">login</button>
        <a href="/signup"><button type="button" class="button is-primary">signup</button></a>
      </div>

    </form>

</div>

  <script src="/javascript/login.js"></script>