

  <div class="colum">
    <h2>Sign Up</h2>

    <form class="signup-form">
      <div class="row p-2">
        <label class="col-4" for="username-signup">username:</label>
        <input class="col-8" type="text" id="username-signup" />
      </div>

      <div class="row p-2">
        <label class="col-4" for="email-signup">email:</label>
        <input class="col-8" type="text" id="email-signup" />
      </div>

      <div class="row p-2">
        <label class="col-4" for="password-signup">password:</label>
        <input class="col-8" type="password" id="password-signup" />
      </div>

      <div class="row p-2">
        <label class="col-4" for="contactMethod">Preferred Contact Method:</label>
        <input class="col-8" type="text" id="contactMethod" />
      </div>

      <div class="row p-4">
        <button class="signup-form" type="submit">signup</button>
      </div>
      
    </form>
  </div>
</div>

<script src="/javascript/signup.js"></script>
