<!--post info-->
{{> post-info post}}

<!--show comments-->
{{#if loggedIn}}
<form class="comment-form">
    {{> comments post.comments}}
    <div>
        <textarea class="ml-5" name="comment-body"></textarea>
    </div>

    <div>
        <button class="button is-secondary ml-5 mb-5" type="submit">Add comment</button>
    </div>
</form>

{{/if}}



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}
